<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="qty-details" data-role="qty-details">
    <table class="table-qty-details">
        <thead>
            <tr>
                <th class="col-qty-deatils-title">#</th>
                <th class="col-qty-deatils"><%- data.qtyTitle %></th>
            </tr>
        </thead>
        <tbody>
        <% _.each([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], function(source) { %>
            <tr>
                <td class="col-qty-deatils-title"><%- source %></td>
                <td class="col-qty-deatils">
                    <%- data.row.qty %>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
