<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="qty-details" data-role="qty-details">
    <table class="table-qty-details">
        <thead>
            <tr>
                <th class="col-qty-deatils"><%- data.qtyTitle %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-qty-deatils">
                    <%- data.row.qty %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
